<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login || User</title>
    <link rel="stylesheet" href="/practice/static/style.css"
</head>
<body>
<form method="post" action="/login">
    <h1>LOGIN PAGE</h1>
    Username: <input type="text" name="username" placeholder="Enter your name"><br><br>
    Email: <input type="text" name="email" placeholder="Enter your email"><br><br>
    Password: <input type="password" name="password" placeholder="Enter your password"><br> 
    <p>Dont have account ? Register here <a href="register.html">Register</a></p>
    <input type="submit" value="submit">
    <p>{{{mess}}}</p>
</form>

</body>
</html>