<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | WTF Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-10">
            <div class="auth-card">
                <h2>WTF Store</h2>
                <p>Create Your Account</p>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Full Name" name="name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email Address" name="email">
                    </div>
                   <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="mb-4">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword">
                    </div>
                    <button class="btn auth-btn w-100">Create Account</button>
                </form>
                <div class="text-center mt-4">
                    <span>Already have an account?</span>
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>